<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Email </title>
</head>
<body>
<p th:text="${recipientName}"></p>
<p th:text="${text}"></p>
<p th:text="${regards}"></p>
<p>
    <em th:text="${senderName}"></em> <br/>
</p>
<p class="button backspace-icon"></p>
</body>
</html>