<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Dear ${name},</p>
<p>${message},</p>
<p>Sending Email using Spring 4 with <b>FreeMarker template !!!</b></p>
<p>Thanks</p>
</body>
</html>